/* line 28, ../sass/common.scss */
:root {
  font-size: 16px;
}

/* line 33, ../sass/common.scss */
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 32px;
}

/* line 40, ../sass/common.scss */
body {
  font-family: "Open Sans", "Arial", sans-serif;
}

/* line 3, ../sass/normalize.scss */
::after, ::before {
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/normalize.scss */
body, p, h1, h2, h3, h4, h5, h6, figure, button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

/* line 17, ../sass/normalize.scss */
a {
  text-decoration: none;
}

/* line 21, ../sass/normalize.scss */
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 5, ../sass/buttons.scss */
.button {
  display: inline-block;
  padding: 9px 23px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #000000;
  transition: background-color ease-in 0.3s, opacity ease-in 0.3s;
}

/* line 21, ../sass/buttons.scss */
.button:hover {
  cursor: pointer;
  background-color: #C29974;
  transition: background-color ease-in 0.3s, opacity ease-in 0.3s;
}

/* line 29, ../sass/buttons.scss */
.button:active {
  opacity: 0.5;
  transition: background-color ease-in 0.3s, opacity ease-in 0.3s;
}
