/* line 28, ../sass/normalize.scss */
:root {
  font-size: 1em;
}

/* line 33, ../sass/normalize.scss */
body {
  font-family: "Open Sans", "Arial", sans-serif;
}

/* line 38, ../sass/normalize.scss */
body, p, h1, h2, h3, h4, h5, h6, figure, button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

/* line 47, ../sass/normalize.scss */
a {
  text-decoration: none;
}

/* line 51, ../sass/normalize.scss */
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 4, ../sass/header.scss */
.header {
  margin: 0 0 2.5rem 0;
  padding: 2.3rem 0 0 0;
}

/* line 10, ../sass/header.scss */
.header__wrap {
  display: flex;
  flex-flow: row;
  width: 1180px;
  margin: 0 auto;
}

/* line 19, ../sass/header.scss */
.header__logo {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  margin: 0 3.75em 0 0;
  transition: opacity ease-in 0.3s;
}

/* line 31, ../sass/header.scss */
.header__logo:hover {
  opacity: 0.5;
  transition: opacity ease-in 0.3s;
}

/* line 38, ../sass/header.scss */
.header__logo:active {
  opacity: 0.2;
}

/* line 43, ../sass/header.scss */
.header__nav {
  display: flex;
  flex: 1;
  align-items: center;
}

/* line 50, ../sass/header.scss */
.header__nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 60, ../sass/header.scss */
.header__nav-item {
  margin: 0 1.25em 0 0;
}

/* line 65, ../sass/header.scss */
.header__nav-link {
  color: #000000;
  font-size: 0.875rem;
  text-transform: uppercase;
  transition: opacity ease-in 0.3s;
}

/* line 74, ../sass/header.scss */
.header__nav-link:hover {
  opacity: 0.5;
  transition: opacity ease-in 0.3s;
}

/* line 81, ../sass/header.scss */
.header__nav-link:active {
  opacity: 0.2;
}

/* line 86, ../sass/header.scss */
.header__searching {
  display: flex;
  align-self: center;
  margin: 0 2em 0 0;
  transition: opacity ease-in 0.3s;
}

/* line 96, ../sass/header.scss */
.header__searching:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity ease-in 0.3s;
}

/* line 104, ../sass/header.scss */
.header__searching:active {
  opacity: 0.2;
}

/* line 109, ../sass/header.scss */
.header__link {
  display: flex;
  align-self: center;
  color: #000000;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: opacity ease-in 0.3s;
}

/* line 122, ../sass/header.scss */
.header__link:hover {
  opacity: 0.5;
  transition: opacity ease-in 0.3s;
}

/* line 129, ../sass/header.scss */
.header__link:active {
  opacity: 0.2;
}

/* line 4, ../sass/footer.scss */
.footer {
  padding: 6.25rem 0;
  color: #ffffff;
  background-color: #434343;
}

/* line 12, ../sass/footer.scss */
.footer__wrap {
  width: 1180px;
  margin: 0 auto;
}

/* line 18, ../sass/footer.scss */
.footer__sections {
  display: flex;
  margin: 0 0 1.4rem 0;
}

/* line 25, ../sass/footer.scss */
.footer__section {
  display: flex;
  flex-flow: column;
  flex: 1;
  margin: 0 1.25rem 0 0;
  box-sizing: border-box;
}

/* line 35, ../sass/footer.scss */
.footer__section-title {
  margin: 0 0 1.3rem 0;
  padding: 0 0 1.45rem 0;
  color: #AAAAAA;
  border-bottom: solid 1px #ffffff;
}

/* line 45, ../sass/footer.scss */
.footer__section-form {
  margin: 0 0 1em 0;
}

/* line 50, ../sass/footer.scss */
.footer__section-link {
  color: #ffffff;
  line-height: 2.3rem;
  transition: opacity ease-in 0.3s;
}

/* line 58, ../sass/footer.scss */
.footer__section-link:hover {
  opacity: 0.5;
  transition: opacity ease-in 0.3s;
}

/* line 65, ../sass/footer.scss */
.footer__section-link:active {
  opacity: 0.2;
  transition: opacity ease-in 0.3s;
}

/* line 72, ../sass/footer.scss */
.footer__section-form {
  display: flex;
  margin: 0 0 1.5rem 0;
}

/* line 79, ../sass/footer.scss */
.footer__section-input {
  width: 70%;
  padding: 0.7em 1em;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 1rem;
  font-family: "Open Sans", "Arial", sans-serif;
  border: solid 1px #ffffff;
  background-color: #666666;
}

/* line 93, ../sass/footer.scss */
.footer__section-button {
  margin: 0 0 0 -1px;
  width: 30%;
  padding: 0.7em 1em;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 1rem;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border: solid 1px #000000;
  background-color: #000000;
}

/* line 111, ../sass/footer.scss */
.footer__section-button:hover {
  cursor: pointer;
}

/* line 116, ../sass/footer.scss */
.footer__information {
  display: flex;
  flex-flow: row;
  padding: 1.5em 0 0 0;
  border-top: solid 1px #ffffff;
}

/* line 126, ../sass/footer.scss */
.footer__information-item {
  display: flex;
  flex-flow: row;
  flex: 1;
}

/* line 133, ../sass/footer.scss */
.footer__information-description {
  margin: 0 1.5em 0 0;
}

/* line 138, ../sass/footer.scss */
.footer__information-list {
  display: flex;
}

/* line 143, ../sass/footer.scss */
.footer__information-item {
  margin: 0 0.3em 0 0;
}

/* line 148, ../sass/footer.scss */
.footer__information-developer {
  color: #A2A2A2;
  text-transform: capitalize;
  transition: color ease-in 0.3s, text-transform ease-in 0.3s;
}

/* line 156, ../sass/footer.scss */
.footer__information-developer:hover {
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
  transition: color ease-in 0.3s, text-transform ease-in 0.3s;
}

/* line 4, ../sass/buttons.scss */
.button {
  display: inline-block;
  padding: 0.5625em 1.375em;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #000000;
  transition: background-color ease-in 0.3s, opacity ease-in 0.3s;
}

/* line 20, ../sass/buttons.scss */
.button:hover {
  cursor: pointer;
  background-color: #C29974;
  transition: background-color ease-in 0.3s, opacity ease-in 0.3s;
}

/* line 28, ../sass/buttons.scss */
.button:active {
  opacity: 0.5;
  transition: background-color ease-in 0.3s, opacity ease-in 0.3s;
}

/* line 4, ../sass/social.scss */
.social {
  display: flex;
  flex-flow: row;
}

/* line 10, ../sass/social.scss */
.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  margin: 0 0.6em 0 0;
}

/* line 21, ../sass/social.scss */
.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #666666;
  transition: opacity ease-in 0.3s;
}

/* line 32, ../sass/social.scss */
.social__link:hover {
  opacity: 0.3;
  transition: opacity ease-in 0.3s;
}

/* line 40, ../sass/social.scss */
.social__link:active {
  opacity: 0.7;
  transition: opacity ease-in 0.3s;
}

/* line 47, ../sass/social.scss */
.social__link--facebook {
  background: #666666 url("../../images/img_icon_facebook.svg") center no-repeat;
}

/* line 52, ../sass/social.scss */
.social__link--twitter {
  background: #666666 url("../../images/img_icon_twitter.svg") center no-repeat;
}

/* line 57, ../sass/social.scss */
.social__link--pinterest {
  background: #666666 url("../../images/img_icon_pinterest.svg") center no-repeat;
}

/* line 62, ../sass/social.scss */
.social__link--instagram {
  background: #666666 url("../../images/img_icon_instagram.svg") center no-repeat;
}

/* line 8, ../sass/navigation.scss */
.section-navigation__link {
  margin: 0 1.25rem 0 0;
  color: #000000;
  font-size: 1.25rem;
  font-family: "Crimson Text", "Arial", sans-serif;
}

/* line 17, ../sass/navigation.scss */
.section-navigation__link--active {
  opacity: 0.5;
}

/* line 22, ../sass/navigation.scss */
.section-navigation__icon {
  margin: 0 1.25rem 0 0;
}

/* line 12, ../sass/catalog.scss */
.catalog {
  margin: 0 0 3.4rem 0;
}

/* line 17, ../sass/catalog.scss */
.catalog__wrap {
  margin: 0 auto;
  width: 1180px;
  box-sizing: border-box;
}

/* line 24, ../sass/catalog.scss */
.catalog__title {
  margin: 0 0 0.5rem 0;
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 34, ../sass/catalog.scss */
.catalog__nav {
  margin: 0 0 3.125rem 0;
}

/* line 39, ../sass/catalog.scss */
.catalog__list {
  display: flex;
  flex-flow: row wrap;
}

/* line 45, ../sass/catalog.scss */
.catalog__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16.875rem;
  height: 16.875rem;
  margin: 0 1.25rem 1.25rem 0;
  box-sizing: border-box;
}

/* line 57, ../sass/catalog.scss */
.catalog__item--first {
  background: #DBE4DB url("../../images/img_category_1.png") center no-repeat;
}

/* line 62, ../sass/catalog.scss */
.catalog__item--second {
  background: #EADDD3 url("../../images/img_category_2.png") center no-repeat;
}

/* line 67, ../sass/catalog.scss */
.catalog__item--third {
  background: #F8F2DA url("../../images/img_category_3.png") center no-repeat;
}

/* line 72, ../sass/catalog.scss */
.catalog__item--fourth {
  margin-left: 12.5rem;
  background: #D5D4E1 url("../../images/img_category_4.png") center no-repeat;
}

/* line 79, ../sass/catalog.scss */
.catalog__item--fifth {
  background: #F3D0DB url("../../images/img_category_5.png") center no-repeat;
}

/* line 84, ../sass/catalog.scss */
.catalog__item--sixth {
  background: #E5EAF8 url("../../images/img_category_6.png") center no-repeat;
}

/* line 89, ../sass/catalog.scss */
.catalog__link {
  color: #ffffff;
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.15) 2px 3px 5px;
}

/* line 100, ../sass/catalog.scss */
.catalog__link:hover {
  text-decoration: underline;
}

/* line 105, ../sass/catalog.scss */
.catalog__link:active {
  text-decoration: underline;
}

/* line 110, ../sass/catalog.scss */
.description {
  margin: 0 0 3.4rem 0;
}

/* line 115, ../sass/catalog.scss */
.description__wrap {
  width: 1180px;
  margin: 0 auto;
  padding: 0 18.75rem 0 12.5rem;
  box-sizing: border-box;
}

/* line 123, ../sass/catalog.scss */
.description__title {
  margin: 0 0 1.55rem 0;
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 133, ../sass/catalog.scss */
.description__text {
  margin: 0 0 1rem 0;
}
