/* line 28, ../sass/common.scss */
:root {
  font-size: 16px;
}

/* line 33, ../sass/common.scss */
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 32px;
}

/* line 40, ../sass/common.scss */
body {
  font-family: "Open Sans", "Arial", sans-serif;
}

/* line 3, ../sass/normalize.scss */
::after, ::before {
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/normalize.scss */
body, p, h1, h2, h3, h4, h5, h6, figure, button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

/* line 17, ../sass/normalize.scss */
a {
  text-decoration: none;
}

/* line 21, ../sass/normalize.scss */
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 5, ../sass/header.scss */
.header {
  margin: 0 0 50px 0;
  padding: 60px 0 0 0;
}

/* line 11, ../sass/header.scss */
.header__wrap {
  display: flex;
  flex-flow: row;
}

/* line 17, ../sass/header.scss */
.header__logo {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  margin: 0 60px 0 0;
  transition: opacity ease-in 0.3s;
}

/* line 29, ../sass/header.scss */
.header__logo:hover {
  opacity: 0.5;
  transition: opacity ease-in 0.3s;
}

/* line 36, ../sass/header.scss */
.header__logo:active {
  opacity: 0.2;
}

/* line 41, ../sass/header.scss */
.header__nav {
  display: flex;
  flex: 1;
  align-items: center;
}

/* line 48, ../sass/header.scss */
.header__nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 58, ../sass/header.scss */
.header__nav-item {
  margin: -7px 20px 0 0;
}

/* line 63, ../sass/header.scss */
.header__nav-link {
  color: #000000;
  font-size: 14px;
  text-transform: uppercase;
  transition: opacity ease-in 0.3s;
}

/* line 72, ../sass/header.scss */
.header__nav-link:hover {
  opacity: 0.5;
  transition: opacity ease-in 0.3s;
}

/* line 79, ../sass/header.scss */
.header__nav-link:active {
  opacity: 0.2;
}

/* line 84, ../sass/header.scss */
.header__searching {
  display: flex;
  align-self: center;
  margin: -4px 22px 0 0;
  transition: opacity ease-in 0.3s;
}

/* line 94, ../sass/header.scss */
.header__searching:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity ease-in 0.3s;
}

/* line 102, ../sass/header.scss */
.header__searching:active {
  opacity: 0.2;
}

/* line 107, ../sass/header.scss */
.header__link {
  display: flex;
  align-self: center;
  margin: -5px 0 0 0;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: opacity ease-in 0.3s;
}

/* line 123, ../sass/header.scss */
.header__link:hover {
  opacity: 0.5;
  transition: opacity ease-in 0.3s;
}

/* line 130, ../sass/header.scss */
.header__link:active {
  opacity: 0.2;
}

/* line 5, ../sass/footer.scss */
.footer {
  padding: 100px 0;
  color: #ffffff;
  background-color: #434343;
}

/* line 17, ../sass/footer.scss */
.footer__sections {
  display: flex;
  margin: 0 0 23px 0;
}

/* line 24, ../sass/footer.scss */
.footer__section {
  display: flex;
  flex-flow: column;
  flex: 1;
  margin: 0 20px 0 0;
  box-sizing: border-box;
}

/* line 34, ../sass/footer.scss */
.footer__section:last-of-type {
  margin: 0;
}

/* line 39, ../sass/footer.scss */
.footer__section-title {
  margin: 0 0 21px 0;
  padding: 0 0 23px 0;
  color: #AAAAAA;
  border-bottom: solid 1px #666666;
}

/* line 49, ../sass/footer.scss */
.footer__section:nth-of-type(3) > .footer__section-title {
  margin: 0 0 24px 0;
}

/* line 54, ../sass/footer.scss */
.footer__section-form {
  margin: 0 0 25px 0;
  align-items: flex-start;
}

/* line 60, ../sass/footer.scss */
.footer__section-link {
  color: #ffffff;
  line-height: 37px;
  transition: opacity ease-in 0.3s;
}

/* line 68, ../sass/footer.scss */
.footer__section-link:hover {
  opacity: 0.5;
  transition: opacity ease-in 0.3s;
}

/* line 75, ../sass/footer.scss */
.footer__section-link:active {
  opacity: 0.2;
  transition: opacity ease-in 0.3s;
}

/* line 82, ../sass/footer.scss */
.footer__section-form {
  display: flex;
  margin: 0 0 25px 0;
}

/* line 89, ../sass/footer.scss */
.footer__section-input {
  width: 100%;
  padding: 9px 0 9px 15px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 16px;
  font-family: "Open Sans", "Arial", sans-serif;
  border: solid 1px #666666;
  background-color: #666666;
  transition: border ease-in .3s;
}

/* line 105, ../sass/footer.scss */
.footer__section-input:focus,
.footer__section-input:active {
  outline: 0;
  border: solid 1px #ffffff;
  transition: border ease-in .3s;
}

/* line 114, ../sass/footer.scss */
.footer__section-button {
  margin: 0 0 0 -1px;
  width: auto;
  padding: 9px 22px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 16px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: solid 1px #000000;
  background-color: #000000;
}

/* line 132, ../sass/footer.scss */
.footer__section-button:hover {
  cursor: pointer;
}

/* line 137, ../sass/footer.scss */
.footer__information {
  display: flex;
  flex-flow: row;
  padding: 23px 0 0 0;
  border-top: solid 1px #ffffff;
}

/* line 147, ../sass/footer.scss */
.footer__information-item {
  display: flex;
  flex-flow: row;
  flex: 1;
  align-items: center;
  margin: 0 20px 0 0;
  box-sizing: border-box;
  transition: color ease-in .3s;
}

/* line 160, ../sass/footer.scss */
.footer__information-item:last-of-type {
  margin: 0;
}

/* line 165, ../sass/footer.scss */
.footer__information-item:nth-of-type(1):hover {
  color: #C29974;
  cursor: pointer;
  transition: color ease-in .3s;
}

/* line 174, ../sass/footer.scss */
.footer__information-description {
  margin: 0 25px 0 0;
  text-transform: capitalize;
}

/* line 181, ../sass/footer.scss */
.footer__information-list {
  display: flex;
  width: 112px;
  height: 16px;
  background: url("../../images/img_icon_star.svg") left center no-repeat, url("../../images/img_icon_star.svg") 20px center no-repeat, url("../../images/img_icon_star.svg") 40px center no-repeat, url("../../images/img_icon_star.svg") 60px center no-repeat, url("../../images/img_icon_star.svg") 80px center no-repeat;
  background-size: 14px auto;
}

/* line 196, ../sass/footer.scss */
.footer__information-wrap {
  position: relative;
  display: flex;
  flex-flow: row;
  flex: 1;
  align-items: center;
}

/* line 205, ../sass/footer.scss */
.footer__information-radio {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* line 218, ../sass/footer.scss */
.footer__information-label:focus {
  outline: solid 1px red;
}

/* line 223, ../sass/footer.scss */
.footer__information-label {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  margin: 0;
  padding: 0;
  font-size: inherit;
  opacity: 1;
  overflow: hidden;
  appearance: none;
}

/* line 240, ../sass/footer.scss */
.footer__information-label:active {
  background: url("../../images/img_icon_star.svg") left center no-repeat, url("../../images/img_icon_star.svg") 20px center no-repeat, url("../../images/img_icon_star.svg") 40px center no-repeat, url("../../images/img_icon_star.svg") 60px center no-repeat, url("../../images/img_icon_star.svg") 80px center no-repeat;
  filter: brightness(0.8);
}

/* line 250, ../sass/footer.scss */
.footer__information-radio:checked + .footer__information-label,
.footer__information-label:hover {
  cursor: pointer;
  background: url("../../images/img_icon_star_activated.svg") left center no-repeat, url("../../images/img_icon_star_activated.svg") 20px center no-repeat, url("../../images/img_icon_star_activated.svg") 40px center no-repeat, url("../../images/img_icon_star_activated.svg") 60px center no-repeat, url("../../images/img_icon_star_activated.svg") 80px center no-repeat;
  background-size: 14px auto;
}

/* line 262, ../sass/footer.scss */
.footer__information-label:hover ~ .footer__information-label {
  background: url("../../images/img_icon_star.svg") left center no-repeat, url("../../images/img_icon_star.svg") 20px center no-repeat, url("../../images/img_icon_star.svg") 40px center no-repeat, url("../../images/img_icon_star.svg") 60px center no-repeat, url("../../images/img_icon_star.svg") 80px center no-repeat;
  background-size: 14px auto;
}

/* line 272, ../sass/footer.scss */
.footer__information-label--first {
  width: 14px;
  z-index: 5;
}

/* line 277, ../sass/footer.scss */
.footer__information-label--second {
  width: 40px;
  z-index: 4;
}

/* line 282, ../sass/footer.scss */
.footer__information-label--third {
  width: 60px;
  z-index: 3;
}

/* line 287, ../sass/footer.scss */
.footer__information-label--fourth {
  width: 80px;
  z-index: 2;
}

/* line 292, ../sass/footer.scss */
.footer__information-label--fifth {
  width: 94px;
  z-index: 1;
}

/* line 297, ../sass/footer.scss */
.footer__information-developer {
  color: #A2A2A2;
  text-transform: capitalize;
  transition: color ease-in 0.3s, text-transform ease-in 0.3s;
}

/* line 305, ../sass/footer.scss */
.footer__information-developer:hover {
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
  transition: color ease-in 0.3s, text-transform ease-in 0.3s;
}

/* line 5, ../sass/buttons.scss */
.button {
  display: inline-block;
  padding: 9px 23px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #000000;
  transition: background-color ease-in 0.3s, opacity ease-in 0.3s;
}

/* line 21, ../sass/buttons.scss */
.button:hover {
  cursor: pointer;
  background-color: #C29974;
  transition: background-color ease-in 0.3s, opacity ease-in 0.3s;
}

/* line 29, ../sass/buttons.scss */
.button:active {
  opacity: 0.5;
  transition: background-color ease-in 0.3s, opacity ease-in 0.3s;
}

/* line 5, ../sass/social.scss */
.social {
  display: flex;
  flex-flow: row;
}

/* line 11, ../sass/social.scss */
.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0 10px 0 0;
}

/* line 22, ../sass/social.scss */
.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #666666;
  transition: opacity ease-in 0.3s;
}

/* line 33, ../sass/social.scss */
.social__link:hover {
  opacity: 0.3;
  transition: opacity ease-in 0.3s;
}

/* line 41, ../sass/social.scss */
.social__link:active {
  opacity: 0.7;
  transition: opacity ease-in 0.3s;
}

/* line 48, ../sass/social.scss */
.social__link:focus {
  opacity: 0.7;
  outline: none;
}

/* line 54, ../sass/social.scss */
.social__link--facebook {
  background: #666666 url("../../images/img_icon_facebook.svg") center no-repeat;
}

/* line 59, ../sass/social.scss */
.social__link--twitter {
  background: #666666 url("../../images/img_icon_twitter.svg") center no-repeat;
}

/* line 64, ../sass/social.scss */
.social__link--pinterest {
  background: #666666 url("../../images/img_icon_pinterest.svg") center no-repeat;
}

/* line 69, ../sass/social.scss */
.social__link--instagram {
  background: #666666 url("../../images/img_icon_instagram.svg") center no-repeat;
}

/* line 8, ../sass/navigation.scss */
.section-navigation__link {
  margin: 0 20px 0 0;
  color: #000000;
  font-size: 20px;
  font-family: "Crimson Text", "Georgia", sans-serif;
}

/* line 17, ../sass/navigation.scss */
.section-navigation__link--active {
  opacity: 0.5;
}

/* line 22, ../sass/navigation.scss */
.section-navigation__icon {
  margin: 0 20px 0 0;
}

/* line 9, ../sass/pagination.scss */
.pagination__button {
  width: 13px;
  height: 19px;
  opacity: 0.3;
  transition: opacity ease-in .3s;
}

/* line 19, ../sass/pagination.scss */
.pagination__button--previous {
  background: url("../../images/img_icon_pagination_arrow_left.svg") center no-repeat;
  background-size: 13px 19px;
}

/* line 25, ../sass/pagination.scss */
.pagination__button--next {
  background: url("../../images/img_icon_pagination_arrow_right.svg") center no-repeat;
  background-size: 13px 19px;
}

/* line 30, ../sass/pagination.scss */
.pagination__button:hover {
  cursor: pointer;
  opacity: 1;
  transition: opacity ease-in .3s;
}

/* line 38, ../sass/pagination.scss */
.pagination__button:active {
  opacity: 0.5;
}

/* line 43, ../sass/pagination.scss */
.pagination__list {
  display: flex;
}

/* line 48, ../sass/pagination.scss */
.pagination__item {
  margin: 0 33px;
}

/* line 53, ../sass/pagination.scss */
.pagination__item-page {
  color: #000000;
  font-family: "Montserrat", "Helvetica", sans-serif;
  transition: opacity ease-in 0.3s;
}

/* line 61, ../sass/pagination.scss */
.pagination__item-page:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity ease-in 0.3s;
}

/* line 69, ../sass/pagination.scss */
.pagination__item-page--active {
  color: #C29974;
}

/* line 18, ../sass/category.scss */
.category__title {
  margin: 0 0 15px 0;
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 28, ../sass/category.scss */
.category__nav {
  margin: 0 0 50px 0;
}

/* line 33, ../sass/category.scss */
.category__wrap--wide {
  margin: 0 0 60px 0;
  padding: 42px 0;
  background-color: #E5EAF8;
}

/* line 41, ../sass/category.scss */
.category__form {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

/* line 48, ../sass/category.scss */
.category__form-field {
  padding: 0;
  border: none;
}

/* line 56, ../sass/category.scss */
.category__form-field--first {
  margin: 0 108px 0 0;
}

/* line 61, ../sass/category.scss */
.category__form-cost {
  width: 188px;
  margin: 0 0 6px 0;
}

/* line 67, ../sass/category.scss */
.category__form-cost:hover {
  cursor: pointer;
}

/* line 72, ../sass/category.scss */
.category__form-cost-wrap {
  display: flex;
}

/* line 77, ../sass/category.scss */
.category__form-min {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
}

/* line 85, ../sass/category.scss */
.category__form-max {
  display: inline-block;
  text-align: right;
  width: 48%;
  box-sizing: border-box;
}

/* line 95, ../sass/category.scss */
.category__form-field--second {
  margin: 0 130px 0 0;
}

/* line 100, ../sass/category.scss */
.category__form-legend {
  margin: 0 0 15px 0;
  font-weight: 700;
}

/* line 108, ../sass/category.scss */
.category__form-input--hidden {
  position: absolute;
  z-index: 999;
}

/* line 116, ../sass/category.scss */
.category__form-input--color {
  top: 2px;
  width: 15px;
  height: 15px;
  opacity: 0;
  border: none;
}

/* line 126, ../sass/category.scss */
.category__form-input--color:hover {
  cursor: pointer;
}

/* line 131, ../sass/category.scss */
.category__form-color-item {
  position: relative;
  margin: 0 0 18px 0;
}

/* line 138, ../sass/category.scss */
.category__form-label--color {
  position: relative;
  padding: 0 0 0 30px;
}

/* line 145, ../sass/category.scss */
.category__form-label--color:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* line 151, ../sass/category.scss */
.category__form-label--color::before {
  content: '';
  position: absolute;
  top: 0;
  display: block;
  width: 19px;
  height: 19px;
  z-index: 1;
  outline: 0;
}

/* line 165, ../sass/category.scss */
.category__form-label--color::before {
  cursor: pointer;
}

/* line 170, ../sass/category.scss */
.category__form-label--color::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 17px;
  height: 17px;
  border: solid 2px #C29974;
  border-radius: 4px;
}

/* line 185, ../sass/category.scss */
.category__form-input--color:checked + .category__form-label--color {
  text-decoration: underline;
}

/* line 190, ../sass/category.scss */
.category__form-input--color:checked + .category__form-label--color::before {
  background: url("../../images/img_icon_checked.svg") 5px 2px no-repeat;
}

/* line 195, ../sass/category.scss */
.category__form-input--color:focus + .category__form-label--color::after {
  opacity: 0.5;
}

/* line 201, ../sass/category.scss */
.category__form-field--third {
  margin: 0 69px 0 0;
}

/* line 206, ../sass/category.scss */
.category__form-delivery-item {
  position: relative;
  margin: 0 0 12px 0;
}

/* line 213, ../sass/category.scss */
.category__form-input--delivery {
  position: absolute;
  top: 0;
  width: 22px;
  height: 22px;
  margin: 0;
  padding: 0;
  opacity: 0;
}

/* line 226, ../sass/category.scss */
.category__form-input--delivery:hover {
  cursor: pointer;
}

/* line 231, ../sass/category.scss */
.category__form-label--delivery {
  position: relative;
  padding: 0 0 0 30px;
}

/* line 238, ../sass/category.scss */
.category__form-label--delivery:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* line 244, ../sass/category.scss */
.category__form-label--delivery::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  display: block;
  width: 12px;
  height: 12px;
  z-index: 1;
  border-radius: 50%;
}

/* line 259, ../sass/category.scss */
.category__form-label--delivery::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  border: solid 2px #C29974;
  border-radius: 50%;
}

/* line 274, ../sass/category.scss */
.category__form-input--delivery:checked + .category__form-label--delivery {
  text-decoration: underline;
}

/* line 279, ../sass/category.scss */
.category__form-input--delivery:checked + .category__form-label--delivery::before {
  background-color: #C29974;
}

/* line 284, ../sass/category.scss */
.category__form-input--delivery:focus + .category__form-label--delivery::after {
  opacity: 0.5;
}

/* line 290, ../sass/category.scss */
.category__form-field--fourth {
  margin: 0 60px 0 0;
}

/* line 295, ../sass/category.scss */
.category__form-amount {
  display: flex;
  flex-flow: row nowrap;
}

/* line 301, ../sass/category.scss */
.category__form-amount-item {
  position: relative;
  width: 80px;
}

/* line 308, ../sass/category.scss */
.category__form-input--amount {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Open Sans", "Arial", sans-serif;
  text-align: center;
  opacity: 0;
  border: none;
}

/* line 322, ../sass/category.scss */
.category__form-input--amount:checked + .category__form-label--amount {
  background-color: #F3D0DB;
  transition: opacity ease-in .3s;
}

/* line 329, ../sass/category.scss */
.category__form-input--amount:focus + .category__form-label--amount {
  opacity: 0.5;
  transition: opacity ease-in .3s;
}

/* line 336, ../sass/category.scss */
.category__form-input--amount:hover {
  cursor: pointer;
  transition: opacity ease-in .3s;
}

/* line 343, ../sass/category.scss */
.category__form-label--amount {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 0 6px 0;
  background-color: #ffffff;
  transition: opacity ease-in .3s;
}

/* line 356, ../sass/category.scss */
.category__form-input--amount:hover + .category__form-label--amount {
  cursor: pointer;
  opacity: 0.5;
  background-color: #F3D0DB;
  transition: opacity ease-in .3s;
}

/* line 365, ../sass/category.scss */
.category__form-submit {
  margin: 37px 0 0 0;
}

/* line 370, ../sass/category.scss */
.category__list {
  display: flex;
  flex-flow: row wrap;
}

/* line 376, ../sass/category.scss */
.catalog__item {
  position: relative;
  width: 30%;
  margin: 0 20px 20px 0;
  border-box: box-sizing;
}

/* line 385, ../sass/category.scss */
.catalog__item:nth-child(3) {
  margin: 0 0 20px 0;
}

/* line 390, ../sass/category.scss */
.catalog__link {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  color: #000000;
}

/* line 400, ../sass/category.scss */
.catalog__more {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 89px;
  left: 25%;
  right: 25%;
  width: 207px;
  padding: 82px 0 96px;
  color: #000000;
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
  opacity: 0;
  background: rgba(229, 234, 248, 0.9);
  transition: opacity ease-in .3s;
}

/* line 427, ../sass/category.scss */
.catalog__more:hover {
  opacity: 1;
  transition: opacity ease-in .3s;
}

/* line 434, ../sass/category.scss */
.catalog__more:active {
  opacity: 1;
  background: rgba(229, 234, 248, 0.67);
}

/* line 440, ../sass/category.scss */
.catalog__name {
  margin: 0 0 15px 0;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

/* line 449, ../sass/category.scss */
.catalog__price {
  margin: 0 0 25px 0;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

/* line 458, ../sass/category.scss */
.category__pagination {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0 0 60px 0;
}
