/* line 28, ../sass/normalize.scss */
:root {
  font-size: 1em;
}

/* line 33, ../sass/normalize.scss */
body {
  font-family: "Open Sans", "Arial", sans-serif;
}

/* line 38, ../sass/normalize.scss */
body, p, h1, h2, h3, h4, h5, h6, figure, button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

/* line 47, ../sass/normalize.scss */
a {
  text-decoration: none;
}

/* line 51, ../sass/normalize.scss */
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 4, ../sass/feeback.scss */
.feedback {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 1;
  background: rgba(125, 151, 218, 0.8);
  transition: all ease-in .3s;
}

/* line 22, ../sass/feeback.scss */
.feedback--hidden {
  display: none;
  opacity: 0;
  transition: all ease-in .3s;
}

/* line 31, ../sass/feeback.scss */
.feedback__wrap {
  margin: 0 auto;
  width: 1180px;
  box-sizing: border-box;
  background-color: #E5EAF8;
}
