/* line 28, ../sass/common.scss */
:root {
  font-size: 16px;
}

/* line 33, ../sass/common.scss */
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 32px;
}

/* line 40, ../sass/common.scss */
body {
  font-family: "Open Sans", "Arial", sans-serif;
}

/* line 3, ../sass/normalize.scss */
::after, ::before {
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/normalize.scss */
body, p, h1, h2, h3, h4, h5, h6, figure, button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

/* line 17, ../sass/normalize.scss */
a {
  text-decoration: none;
}

/* line 21, ../sass/normalize.scss */
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 5, ../sass/feedback.scss */
.feedback {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 1;
  background: rgba(125, 151, 218, 0.8);
  transition: all ease-in .3s;
}

/* line 23, ../sass/feedback.scss */
.feedback--hidden {
  display: none;
  opacity: 0;
  transition: all ease-in .3s;
}

/* line 32, ../sass/feedback.scss */
.feedback__wrap {
  position: relative;
  width: 680px;
}

/* line 39, ../sass/feedback.scss */
.feedback__form {
  position: relative;
  display: flex;
  flex-flow: column;
  padding: 40px;
  box-sizing: border-box;
  border: none;
  background-color: #E5EAF8;
}

/* line 52, ../sass/feedback.scss */
.feedback__close {
  position: absolute;
  top: 0;
  right: -25px;
  width: 16px;
  height: 16px;
  background: url("../../images/img_icon_close.svg") center no-repeat;
  transition: opacity ease-in .3s;
}

/* line 66, ../sass/feedback.scss */
.feedback__close:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity ease-in .3s;
}

/* line 74, ../sass/feedback.scss */
.feedback__close:hover {
  opacity: 0.3;
}

/* line 79, ../sass/feedback.scss */
.feedback__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
}

/* line 91, ../sass/feedback.scss */
.feedback__field {
  margin: 0;
  padding: 0;
  border: none;
}

/* line 99, ../sass/feedback.scss */
.feedback__wrapper {
  display: flex;
  flex-flow: column;
  flex: 1;
  margin: 0 0 18px 0;
}

/* line 108, ../sass/feedback.scss */
.feedback__wrapper--half {
  display: flex;
  flex-flow: row;
}

/* line 114, ../sass/feedback.scss */
.feedback__wrapper--margined:first-child {
  margin: 0 18px 0 0;
}

/* line 119, ../sass/feedback.scss */
.feedback__label {
  display: block;
  margin: 0 0 5px 0;
  color: #000000;
  font-size: 14px;
}

/* line 129, ../sass/feedback.scss */
.feedback__input {
  padding: 15px 0 11px 20px;
  box-sizing: border-box;
  font-size: 14px;
  box-shadow: none;
  border: solid 1px rgba(0, 0, 0, 0.2);
}

/* line 140, ../sass/feedback.scss */
.feedback__input--hidden {
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  opacity: 0;
  z-index: 1;
}

/* line 152, ../sass/feedback.scss */
.feedback__input:focus {
  border: solid 1px rgba(0, 0, 0, 0.3);
  outline: 0;
}

/* line 159, ../sass/feedback.scss */
.feedback__message {
  width: 100%;
  padding: 14px 0 0 18px;
  margin: 0 0 18px 0;
  box-sizing: border-box;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  box-shadow: none;
  border: solid 1px rgba(0, 0, 0, 0.2);
}

/* line 173, ../sass/feedback.scss */
.feedback__message:focus {
  outline: 0;
  border: solid 1px rgba(0, 0, 0, 0.3);
}

/* line 179, ../sass/feedback.scss */
.feedback__information {
  display: inline-block;
  position: relative;
  padding: 0 0 0 32px;
  margin: 0 0 18px 0;
  font-size: 14px;
}

/* line 190, ../sass/feedback.scss */
.feedback__agreement:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* line 196, ../sass/feedback.scss */
.feedback__agreement::before {
  content: '';
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  border-radius: 4px;
  z-index: 1;
  transition: opacity ease-in 0.3s;
}

/* line 211, ../sass/feedback.scss */
.feedback__agreement::after {
  content: '';
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  opacity: 1;
  border: solid 2px #C29974;
  border-radius: 4px;
  z-index: 1;
}

/* line 226, ../sass/feedback.scss */
.feedback__agreement:hover::after {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity ease-in 0.3s;
}

/* line 234, ../sass/feedback.scss */
.feedback__input:focus + .feedback__agreement {
  text-decoration: underline;
}

/* line 239, ../sass/feedback.scss */
.feedback__input:checked + .feedback__agreement::before {
  background: url("../../images/img_icon_checked.svg") 5px 2px no-repeat;
}

/* line 244, ../sass/feedback.scss */
.feedback__input:focus + .feedback__agreement::after {
  opacity: 0.5;
  transition: opacity ease-in 0.3s;
}
