:root {
  font-size: 16px;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 32px;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
}

.slider {
  margin: 0 0 90px 0;
}

.slider__wrap {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  padding: 0;
  background: linear-gradient(0deg, #EADDD3 0%, #EADDD3 83%, transparent 83%, transparent 100%);
}

.slider__elements {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 50%;
  padding: 106px 0 0 31px;
  z-index: 1;
  box-sizing: border-box;
}

.slider__number {
  display: block;
  width: 100%;
  margin: 0 0 7px 0;
  color: #1E0606;
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-size: 60px;
  font-weight: 300;
  opacity: 0.05;
}

.slider__content {
  display: flex;
  flex-flow: row;
}

.slider__nav {
  display: flex;
  flex-flow: column;
  margin: 0 71px 0 0;
}

.slider__nav-item {
  display: flex;
}

.slider__nav-button {
  width: 31px;
  height: 3px;
  margin: 0 0 11px 0;
  font-size: 0;
  background: #D6CAC2;
  transition: opacity ease-in 0.3s, background-color ease-in 0.3s;
}

.slider__nav-button:hover {
  cursor: pointer;
  opacity: 0.6;
  background: #1E0606;
  transition: opacity ease-in 0.3s, background-color ease-in 0.3s;
}

.slider__nav-button--active {
  opacity: 0.6;
  background: #1E0606;
}

.slider__nav-button:focus {
  outline: solid 1px #C29974;
}

.slider__collection {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  margin: 0 0 89px 0;
}

.slider__title {
  margin: -10px 0 21px 0;
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-size: 40px;
  line-height: 44px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.slider__description {
  margin: 0 0 20px 0;
  font-family: "Crimson Text", "Georgia", serif;
  font-size: 20px;
}

.slider__stuff-wrap {
  position: absolute;
  right: 99px;
  bottom: 39px;
  display: flex;
  z-index: 0;
}

.slider__information {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px 0 11px;
  background-color: #C29974;
  z-index: 1;
}

.slider__information-content {
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.categories {
  margin: 0 0 90px 0;
}

.categories__wrap {
  width: 1180px;
  margin: 0 auto;
}

.categories__title {
  margin: 0 0 30px 0;
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
}

.categories__list {
  display: flex;
  flex-flow: row;
  margin: 0 0 30px 0;
}

.categories__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 270px;
  margin: 0 20px 0 0;
  box-sizing: border-box;
}

.categories__list-item:last-child {
  margin: 0;
}

.categories__list-item--first {
  background: #DBE4DB url("../../images/img_category_1.png") center no-repeat;
}

.categories__list-item--second {
  background: #EADDD3 url("../../images/img_category_2.png") center no-repeat;
}

.categories__list-item--third {
  background: #F8F2DA url("../../images/img_category_3.png") 35px 16px no-repeat;
}

.categories__list-item--fourth {
  background: #D5D4E1 url("../../images/img_category_4.png") center no-repeat;
}

.categories__list-link {
  color: #ffffff;
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.15) 2px 3px 5px;
}

.categories__list-link:hover {
  text-decoration: underline;
}

.categories__button {
  display: inline;
  font-size: 0;
  width: 37px;
  height: 37px;
  background: rgba(112, 187, 220, 0.2);
  transition: box-shadow ease-in 0.3s;
}

.categories__button:hover {
  cursor: pointer;
  box-shadow: 2px 3px 5px #E5EAF8;
  transition: box-shadow ease-in 0.3s;
}

.categories__button:active {
  box-shadow: none;
}

.categories__button--left {
  margin: 0 2px 0 0;
  background: rgba(112, 187, 220, 0.2) url("../../images/img_icon_arrow_left.svg") center no-repeat;
  background-size: 18px;
}

.categories__button--right {
  margin: 0 16px 0 0;
  background: rgba(112, 187, 220, 0.2) url("../../images/img_icon_arrow_right.svg") center no-repeat;
  background-size: 18px;
}

.categories__nav-information {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.benefits {
  margin: 0 0 90px 0;
}

.benefits__wrap {
  display: flex;
  flex-flow: row;
}

.benefits__side {
  display: flex;
  margin: 0 60px 0 0;
}

.benefits__information {
  align-self: flex-start;
  padding: 27px 100px 0 0;
}

.benefits__title {
  margin: 0 0 6px 0;
  padding: 0 0 0 60px;
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
}

.benefits__list {
  display: flex;
  flex-flow: column;
}

.benefits__item {
  margin: 0;
  padding: 0;
}

.benefits__button {
  width: 326px;
  padding: 15px 0 11px 60px;
  box-sizing: border-box;
  font-family: "Crimson Text", "Georgia", serif;
  font-size: 26px;
  text-align: left;
  transition: background-color ease-in 0.3s, font-weight ease-in 0.3s;
}

.benefits__item:last-child {
  margin: 0 0 19px 0;
}

.benefits__button:hover {
  font-weight: 700;
  cursor: pointer;
  background-color: rgba(112, 187, 220, 0.2);
  transition: background-color ease-in 0.3s, font-weight ease-in 0.3s;
}

.benefits__button--active {
  font-weight: 700;
  background-color: rgba(112, 187, 220, 0.2);
}

.benefits__description {
  margin: 0 0 16px 0;
  padding: 0 0 0 60px;
}

.benefits__description:last-of-type {
  margin: 0 0 26px 0;
}

.benefits__link {
  margin: 0 0 0 60px;
}

.partners {
  position: relative;
  margin: 0 0 90px 0;
}

.partners__wrap {
  width: 1180px;
  margin: 0 auto;
}

.partners__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
}

.partners__list {
  display: flex;
}

.partners__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.partners__item:first-child {
  justify-content: flex-start;
}

.partners__item:last-child {
  justify-content: flex-end;
}

.about {
  margin: 0 0 57px 0;
}

.about__wrap {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  width: 1180px;
  margin: 0 auto;
}

.about__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
}

.about__information {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  flex-basis: 46%;
  padding: 0 30px 35px 30px;
  margin: 0 57px 0 0;
  box-sizing: border-box;
  background: linear-gradient(0deg, rgba(112, 187, 220, 0.2) 100px, rgba(112, 187, 220, 0.2) 90%, transparent 90%);
}

.about__information-title {
  margin: 0 0 10px 0;
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__information-subtitle {
  display: inline-block;
  margin: 0 0 10px 0;
  font-family: "Crimson Text", "Georgia", serif;
  font-size: 26px;
  text-transform: capitalize;
}

.about__information-description {
  margin: 0 0 20px 0;
}

.about__contacts {
  display: flex;
  flex-flow: column;
  flex: 0;
  padding: 0 30px;
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(0deg, transparent 0%, transparent 40%, rgba(112, 187, 220, 0.2) 40%, rgba(112, 187, 220, 0.2) 93%, transparent 93%, transparent 100px);
}

.about__contacts-title {
  margin: 0 0 20px 0;
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__contacts-description {
  margin: 0 0 20px 0;
}

.about__contacts-map {
  display: flex;
}

/*# sourceMappingURL=main.css.map */
