/* line 28, ../sass/common.scss */
:root {
  font-size: 16px;
}

/* line 33, ../sass/common.scss */
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 32px;
}

/* line 40, ../sass/common.scss */
body {
  font-family: "Open Sans", "Arial", sans-serif;
}

/* line 3, ../sass/normalize.scss */
::after, ::before {
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/normalize.scss */
body, p, h1, h2, h3, h4, h5, h6, figure, button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

/* line 17, ../sass/normalize.scss */
a {
  text-decoration: none;
}

/* line 21, ../sass/normalize.scss */
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 5, ../sass/header.scss */
.header {
  margin: 0 0 50px 0;
  padding: 60px 0 0 0;
}

/* line 11, ../sass/header.scss */
.header__wrap {
  display: flex;
  flex-flow: row;
}

/* line 17, ../sass/header.scss */
.header__logo {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  margin: 0 60px 0 0;
  transition: opacity ease-in 0.3s;
}

/* line 29, ../sass/header.scss */
.header__logo:hover {
  opacity: 0.5;
  transition: opacity ease-in 0.3s;
}

/* line 36, ../sass/header.scss */
.header__logo:active {
  opacity: 0.2;
}

/* line 41, ../sass/header.scss */
.header__nav {
  display: flex;
  flex: 1;
  align-items: center;
}

/* line 48, ../sass/header.scss */
.header__nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 58, ../sass/header.scss */
.header__nav-item {
  margin: -7px 20px 0 0;
}

/* line 63, ../sass/header.scss */
.header__nav-link {
  color: #000000;
  font-size: 14px;
  text-transform: uppercase;
  transition: opacity ease-in 0.3s;
}

/* line 72, ../sass/header.scss */
.header__nav-link:hover {
  opacity: 0.5;
  transition: opacity ease-in 0.3s;
}

/* line 79, ../sass/header.scss */
.header__nav-link:active {
  opacity: 0.2;
}

/* line 84, ../sass/header.scss */
.header__searching {
  display: flex;
  align-self: center;
  margin: -4px 22px 0 0;
  transition: opacity ease-in 0.3s;
}

/* line 94, ../sass/header.scss */
.header__searching:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity ease-in 0.3s;
}

/* line 102, ../sass/header.scss */
.header__searching:active {
  opacity: 0.2;
}

/* line 107, ../sass/header.scss */
.header__link {
  display: flex;
  align-self: center;
  margin: -5px 0 0 0;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: opacity ease-in 0.3s;
}

/* line 123, ../sass/header.scss */
.header__link:hover {
  opacity: 0.5;
  transition: opacity ease-in 0.3s;
}

/* line 130, ../sass/header.scss */
.header__link:active {
  opacity: 0.2;
}

/* line 5, ../sass/footer.scss */
.footer {
  padding: 100px 0;
  color: #ffffff;
  background-color: #434343;
}

/* line 17, ../sass/footer.scss */
.footer__sections {
  display: flex;
  margin: 0 0 23px 0;
}

/* line 24, ../sass/footer.scss */
.footer__section {
  display: flex;
  flex-flow: column;
  flex: 1;
  margin: 0 20px 0 0;
  box-sizing: border-box;
}

/* line 34, ../sass/footer.scss */
.footer__section:last-of-type {
  margin: 0;
}

/* line 39, ../sass/footer.scss */
.footer__section-title {
  margin: 0 0 21px 0;
  padding: 0 0 23px 0;
  color: #AAAAAA;
  border-bottom: solid 1px #666666;
}

/* line 49, ../sass/footer.scss */
.footer__section:nth-of-type(3) > .footer__section-title {
  margin: 0 0 24px 0;
}

/* line 54, ../sass/footer.scss */
.footer__section-form {
  margin: 0 0 25px 0;
  align-items: flex-start;
}

/* line 60, ../sass/footer.scss */
.footer__section-link {
  color: #ffffff;
  line-height: 37px;
  transition: opacity ease-in 0.3s;
}

/* line 68, ../sass/footer.scss */
.footer__section-link:hover {
  opacity: 0.5;
  transition: opacity ease-in 0.3s;
}

/* line 75, ../sass/footer.scss */
.footer__section-link:active {
  opacity: 0.2;
  transition: opacity ease-in 0.3s;
}

/* line 82, ../sass/footer.scss */
.footer__section-form {
  display: flex;
  margin: 0 0 25px 0;
}

/* line 89, ../sass/footer.scss */
.footer__section-input {
  width: 100%;
  padding: 9px 0 9px 15px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 16px;
  font-family: "Open Sans", "Arial", sans-serif;
  border: solid 1px #666666;
  background-color: #666666;
  transition: border ease-in .3s;
}

/* line 105, ../sass/footer.scss */
.footer__section-input:focus,
.footer__section-input:active {
  outline: 0;
  border: solid 1px #ffffff;
  transition: border ease-in .3s;
}

/* line 114, ../sass/footer.scss */
.footer__section-button {
  margin: 0 0 0 -1px;
  width: auto;
  padding: 9px 22px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 16px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: solid 1px #000000;
  background-color: #000000;
}

/* line 132, ../sass/footer.scss */
.footer__section-button:hover {
  cursor: pointer;
}

/* line 137, ../sass/footer.scss */
.footer__information {
  display: flex;
  flex-flow: row;
  padding: 23px 0 0 0;
  border-top: solid 1px #ffffff;
}

/* line 147, ../sass/footer.scss */
.footer__information-item {
  display: flex;
  flex-flow: row;
  flex: 1;
  align-items: center;
  margin: 0 20px 0 0;
  box-sizing: border-box;
  transition: color ease-in .3s;
}

/* line 160, ../sass/footer.scss */
.footer__information-item:last-of-type {
  margin: 0;
}

/* line 165, ../sass/footer.scss */
.footer__information-item:nth-of-type(1):hover {
  color: #C29974;
  cursor: pointer;
  transition: color ease-in .3s;
}

/* line 174, ../sass/footer.scss */
.footer__information-description {
  margin: 0 25px 0 0;
  text-transform: capitalize;
}

/* line 181, ../sass/footer.scss */
.footer__information-list {
  display: flex;
  width: 112px;
  height: 16px;
  background: url("../../images/img_icon_star.svg") left center no-repeat, url("../../images/img_icon_star.svg") 20px center no-repeat, url("../../images/img_icon_star.svg") 40px center no-repeat, url("../../images/img_icon_star.svg") 60px center no-repeat, url("../../images/img_icon_star.svg") 80px center no-repeat;
  background-size: 14px auto;
}

/* line 196, ../sass/footer.scss */
.footer__information-wrap {
  position: relative;
  display: flex;
  flex-flow: row;
  flex: 1;
  align-items: center;
}

/* line 205, ../sass/footer.scss */
.footer__information-radio {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* line 218, ../sass/footer.scss */
.footer__information-label:focus {
  outline: solid 1px red;
}

/* line 223, ../sass/footer.scss */
.footer__information-label {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  margin: 0;
  padding: 0;
  font-size: inherit;
  opacity: 1;
  overflow: hidden;
  appearance: none;
}

/* line 240, ../sass/footer.scss */
.footer__information-label:active {
  background: url("../../images/img_icon_star.svg") left center no-repeat, url("../../images/img_icon_star.svg") 20px center no-repeat, url("../../images/img_icon_star.svg") 40px center no-repeat, url("../../images/img_icon_star.svg") 60px center no-repeat, url("../../images/img_icon_star.svg") 80px center no-repeat;
  filter: brightness(0.8);
}

/* line 250, ../sass/footer.scss */
.footer__information-radio:checked + .footer__information-label,
.footer__information-label:hover {
  cursor: pointer;
  background: url("../../images/img_icon_star_activated.svg") left center no-repeat, url("../../images/img_icon_star_activated.svg") 20px center no-repeat, url("../../images/img_icon_star_activated.svg") 40px center no-repeat, url("../../images/img_icon_star_activated.svg") 60px center no-repeat, url("../../images/img_icon_star_activated.svg") 80px center no-repeat;
  background-size: 14px auto;
}

/* line 262, ../sass/footer.scss */
.footer__information-label:hover ~ .footer__information-label {
  background: url("../../images/img_icon_star.svg") left center no-repeat, url("../../images/img_icon_star.svg") 20px center no-repeat, url("../../images/img_icon_star.svg") 40px center no-repeat, url("../../images/img_icon_star.svg") 60px center no-repeat, url("../../images/img_icon_star.svg") 80px center no-repeat;
  background-size: 14px auto;
}

/* line 272, ../sass/footer.scss */
.footer__information-label--first {
  width: 14px;
  z-index: 5;
}

/* line 277, ../sass/footer.scss */
.footer__information-label--second {
  width: 40px;
  z-index: 4;
}

/* line 282, ../sass/footer.scss */
.footer__information-label--third {
  width: 60px;
  z-index: 3;
}

/* line 287, ../sass/footer.scss */
.footer__information-label--fourth {
  width: 80px;
  z-index: 2;
}

/* line 292, ../sass/footer.scss */
.footer__information-label--fifth {
  width: 94px;
  z-index: 1;
}

/* line 297, ../sass/footer.scss */
.footer__information-developer {
  color: #A2A2A2;
  text-transform: capitalize;
  transition: color ease-in 0.3s, text-transform ease-in 0.3s;
}

/* line 305, ../sass/footer.scss */
.footer__information-developer:hover {
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
  transition: color ease-in 0.3s, text-transform ease-in 0.3s;
}

/* line 5, ../sass/buttons.scss */
.button {
  display: inline-block;
  padding: 9px 23px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #000000;
  transition: background-color ease-in 0.3s, opacity ease-in 0.3s;
}

/* line 21, ../sass/buttons.scss */
.button:hover {
  cursor: pointer;
  background-color: #C29974;
  transition: background-color ease-in 0.3s, opacity ease-in 0.3s;
}

/* line 29, ../sass/buttons.scss */
.button:active {
  opacity: 0.5;
  transition: background-color ease-in 0.3s, opacity ease-in 0.3s;
}

/* line 5, ../sass/social.scss */
.social {
  display: flex;
  flex-flow: row;
}

/* line 11, ../sass/social.scss */
.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0 10px 0 0;
}

/* line 22, ../sass/social.scss */
.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #666666;
  transition: opacity ease-in 0.3s;
}

/* line 33, ../sass/social.scss */
.social__link:hover {
  opacity: 0.3;
  transition: opacity ease-in 0.3s;
}

/* line 41, ../sass/social.scss */
.social__link:active {
  opacity: 0.7;
  transition: opacity ease-in 0.3s;
}

/* line 48, ../sass/social.scss */
.social__link:focus {
  opacity: 0.7;
  outline: none;
}

/* line 54, ../sass/social.scss */
.social__link--facebook {
  background: #666666 url("../../images/img_icon_facebook.svg") center no-repeat;
}

/* line 59, ../sass/social.scss */
.social__link--twitter {
  background: #666666 url("../../images/img_icon_twitter.svg") center no-repeat;
}

/* line 64, ../sass/social.scss */
.social__link--pinterest {
  background: #666666 url("../../images/img_icon_pinterest.svg") center no-repeat;
}

/* line 69, ../sass/social.scss */
.social__link--instagram {
  background: #666666 url("../../images/img_icon_instagram.svg") center no-repeat;
}

/* line 5, ../sass/feedback.scss */
.feedback {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 1;
  background: rgba(125, 151, 218, 0.8);
  transition: all ease-in .3s;
}

/* line 23, ../sass/feedback.scss */
.feedback--hidden {
  display: none;
  opacity: 0;
  transition: all ease-in .3s;
}

/* line 32, ../sass/feedback.scss */
.feedback__wrap {
  position: relative;
  width: 680px;
}

/* line 39, ../sass/feedback.scss */
.feedback__form {
  position: relative;
  display: flex;
  flex-flow: column;
  padding: 40px;
  box-sizing: border-box;
  border: none;
  background-color: #E5EAF8;
}

/* line 52, ../sass/feedback.scss */
.feedback__close {
  position: absolute;
  top: 0;
  right: -25px;
  width: 16px;
  height: 16px;
  background: url("../../images/img_icon_close.svg") center no-repeat;
  transition: opacity ease-in .3s;
}

/* line 66, ../sass/feedback.scss */
.feedback__close:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity ease-in .3s;
}

/* line 74, ../sass/feedback.scss */
.feedback__close:hover {
  opacity: 0.3;
}

/* line 79, ../sass/feedback.scss */
.feedback__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
}

/* line 91, ../sass/feedback.scss */
.feedback__field {
  margin: 0;
  padding: 0;
  border: none;
}

/* line 99, ../sass/feedback.scss */
.feedback__wrapper {
  display: flex;
  flex-flow: column;
  flex: 1;
  margin: 0 0 18px 0;
}

/* line 108, ../sass/feedback.scss */
.feedback__wrapper--half {
  display: flex;
  flex-flow: row;
}

/* line 114, ../sass/feedback.scss */
.feedback__wrapper--margined:first-child {
  margin: 0 18px 0 0;
}

/* line 119, ../sass/feedback.scss */
.feedback__label {
  display: block;
  margin: 0 0 5px 0;
  color: #000000;
  font-size: 14px;
}

/* line 129, ../sass/feedback.scss */
.feedback__input {
  padding: 15px 0 11px 20px;
  box-sizing: border-box;
  font-size: 14px;
  box-shadow: none;
  border: solid 1px rgba(0, 0, 0, 0.2);
}

/* line 140, ../sass/feedback.scss */
.feedback__input--hidden {
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  opacity: 0;
  z-index: 1;
}

/* line 152, ../sass/feedback.scss */
.feedback__input:focus {
  border: solid 1px rgba(0, 0, 0, 0.3);
  outline: 0;
}

/* line 159, ../sass/feedback.scss */
.feedback__message {
  width: 100%;
  padding: 14px 0 0 18px;
  margin: 0 0 18px 0;
  box-sizing: border-box;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  box-shadow: none;
  border: solid 1px rgba(0, 0, 0, 0.2);
}

/* line 173, ../sass/feedback.scss */
.feedback__message:focus {
  outline: 0;
  border: solid 1px rgba(0, 0, 0, 0.3);
}

/* line 179, ../sass/feedback.scss */
.feedback__information {
  display: inline-block;
  position: relative;
  padding: 0 0 0 32px;
  margin: 0 0 18px 0;
  font-size: 14px;
}

/* line 190, ../sass/feedback.scss */
.feedback__agreement:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* line 196, ../sass/feedback.scss */
.feedback__agreement::before {
  content: '';
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  border-radius: 4px;
  z-index: 1;
  transition: opacity ease-in 0.3s;
}

/* line 211, ../sass/feedback.scss */
.feedback__agreement::after {
  content: '';
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  opacity: 1;
  border: solid 2px #C29974;
  border-radius: 4px;
  z-index: 1;
}

/* line 226, ../sass/feedback.scss */
.feedback__agreement:hover::after {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity ease-in 0.3s;
}

/* line 234, ../sass/feedback.scss */
.feedback__input:focus + .feedback__agreement {
  text-decoration: underline;
}

/* line 239, ../sass/feedback.scss */
.feedback__input:checked + .feedback__agreement::before {
  background: url("../../images/img_icon_checked.svg") 5px 2px no-repeat;
}

/* line 244, ../sass/feedback.scss */
.feedback__input:focus + .feedback__agreement::after {
  opacity: 0.5;
  transition: opacity ease-in 0.3s;
}

/* line 10, ../sass/main.scss */
.slider {
  margin: 0 0 90px 0;
}

/* line 15, ../sass/main.scss */
.slider__wrap {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  padding: 0;
  background: linear-gradient(0deg, #EADDD3 0%, #EADDD3 83%, transparent 83%, transparent 100%);
}

/* line 28, ../sass/main.scss */
.slider__elements {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 50%;
  padding: 106px 0 0 31px;
  z-index: 1;
  box-sizing: border-box;
}

/* line 40, ../sass/main.scss */
.slider__number {
  display: block;
  width: 100%;
  margin: 0 0 7px 0;
  color: #1E0606;
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-size: 60px;
  font-weight: 300;
  opacity: 0.05;
}

/* line 55, ../sass/main.scss */
.slider__content {
  display: flex;
  flex-flow: row;
}

/* line 61, ../sass/main.scss */
.slider__nav {
  display: flex;
  flex-flow: column;
  margin: 0 71px 0 0;
}

/* line 69, ../sass/main.scss */
.slider__nav-item {
  display: flex;
}

/* line 74, ../sass/main.scss */
.slider__nav-button {
  width: 31px;
  height: 3px;
  margin: 0 0 11px 0;
  font-size: 0;
  background: #D6CAC2;
  transition: opacity ease-in 0.3s, background-color ease-in 0.3s;
}

/* line 87, ../sass/main.scss */
.slider__nav-button:hover {
  cursor: pointer;
  opacity: 0.6;
  background: #1E0606;
  transition: opacity ease-in 0.3s, background-color ease-in 0.3s;
}

/* line 96, ../sass/main.scss */
.slider__nav-button--active {
  opacity: 0.6;
  background: #1E0606;
}

/* line 102, ../sass/main.scss */
.slider__collection {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  margin: 0 0 89px 0;
}

/* line 111, ../sass/main.scss */
.slider__title {
  margin: -10px 0 21px 0;
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-size: 40px;
  line-height: 44px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

/* line 122, ../sass/main.scss */
.slider__description {
  margin: 0 0 20px 0;
  font-family: "Crimson Text", "Georgia", sans-serif;
  font-size: 20px;
}

/* line 134, ../sass/main.scss */
.slider__stuff-wrap {
  position: absolute;
  right: 99px;
  bottom: 39px;
  display: flex;
  z-index: 0;
}

/* line 143, ../sass/main.scss */
.slider__information {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px 0 11px;
  background-color: #C29974;
  z-index: 1;
}

/* line 156, ../sass/main.scss */
.slider__information-content {
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 165, ../sass/main.scss */
.categories {
  margin: 0 0 90px 0;
}

/* line 170, ../sass/main.scss */
.categories__wrap {
  width: 1180px;
  margin: 0 auto;
}

/* line 176, ../sass/main.scss */
.categories__title {
  margin: 0 0 30px 0;
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 186, ../sass/main.scss */
.categories__list {
  display: flex;
  flex-flow: row;
  margin: 0 0 30px 0;
}

/* line 194, ../sass/main.scss */
.categories__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 270px;
  margin: 0 20px 0 0;
  box-sizing: border-box;
}

/* line 206, ../sass/main.scss */
.categories__list-item:last-child {
  margin: 0;
}

/* line 211, ../sass/main.scss */
.categories__list-item--first {
  background: #DBE4DB url("../../images/img_category_1.png") center no-repeat;
}

/* line 216, ../sass/main.scss */
.categories__list-item--second {
  background: #EADDD3 url("../../images/img_category_2.png") center no-repeat;
}

/* line 221, ../sass/main.scss */
.categories__list-item--third {
  background: #F8F2DA url("../../images/img_category_3.png") 35px 16px no-repeat;
}

/* line 226, ../sass/main.scss */
.categories__list-item--fourth {
  background: #D5D4E1 url("../../images/img_category_4.png") center no-repeat;
}

/* line 231, ../sass/main.scss */
.categories__list-link {
  color: #ffffff;
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.15) 2px 3px 5px;
}

/* line 242, ../sass/main.scss */
.categories__list-link:hover {
  text-decoration: underline;
}

/* line 247, ../sass/main.scss */
.categories__button {
  display: inline;
  width: 37px;
  height: 37px;
  background: rgba(112, 187, 220, 0.2);
}

/* line 256, ../sass/main.scss */
.categories__button--left {
  margin: 0 2px 0 0;
  background: rgba(112, 187, 220, 0.2) url("../../images/img_icon_arrow_left.svg") center no-repeat;
  background-size: 18px;
}

/* line 264, ../sass/main.scss */
.categories__button--right {
  margin: 0 16px 0 0;
  background: rgba(112, 187, 220, 0.2) url("../../images/img_icon_arrow_right.svg") center no-repeat;
  background-size: 18px;
}

/* line 272, ../sass/main.scss */
.categories__nav-information {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

/* line 281, ../sass/main.scss */
.benefits {
  margin: 0 0 90px 0;
}

/* line 286, ../sass/main.scss */
.benefits__wrap {
  display: flex;
  flex-flow: row;
}

/* line 292, ../sass/main.scss */
.benefits__side {
  display: flex;
  margin: 0 60px 0 0;
}

/* line 299, ../sass/main.scss */
.benefits__information {
  align-self: flex-start;
  padding: 27px 100px 0 0;
}

/* line 306, ../sass/main.scss */
.benefits__title {
  margin: 0 0 6px 0;
  padding: 0 0 0 60px;
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 317, ../sass/main.scss */
.benefits__list {
  display: flex;
  flex-flow: column;
}

/* line 323, ../sass/main.scss */
.benefits__item {
  margin: 0;
  padding: 0;
}

/* line 328, ../sass/main.scss */
.benefits__button {
  width: 326px;
  padding: 15px 0 11px 60px;
  box-sizing: border-box;
  font-family: "Crimson Text", "Georgia", sans-serif;
  font-size: 26px;
  text-align: left;
  transition: background-color ease-in 0.3s, font-weight ease-in 0.3s;
}

/* line 341, ../sass/main.scss */
.benefits__item:last-child {
  margin: 0 0 19px 0;
}

/* line 346, ../sass/main.scss */
.benefits__button:hover {
  font-weight: 700;
  cursor: pointer;
  background-color: rgba(112, 187, 220, 0.2);
  transition: background-color ease-in 0.3s, font-weight ease-in 0.3s;
}

/* line 356, ../sass/main.scss */
.benefits__button--active {
  font-weight: 700;
  background-color: rgba(112, 187, 220, 0.2);
}

/* line 363, ../sass/main.scss */
.benefits__description {
  margin: 0 0 16px 0;
  padding: 0 0 0 60px;
}

/* line 369, ../sass/main.scss */
.benefits__description:last-of-type {
  margin: 0 0 26px 0;
}

/* line 374, ../sass/main.scss */
.benefits__link {
  margin: 0 0 0 60px;
}

/* line 380, ../sass/main.scss */
.partners {
  position: relative;
  margin: 0 0 90px 0;
}

/* line 387, ../sass/main.scss */
.partners__wrap {
  width: 1180px;
  margin: 0 auto;
}

/* line 393, ../sass/main.scss */
.partners__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
}

/* line 405, ../sass/main.scss */
.partners__list {
  display: flex;
}

/* line 410, ../sass/main.scss */
.partners__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

/* line 419, ../sass/main.scss */
.partners__item:first-child {
  justify-content: flex-start;
}

/* line 424, ../sass/main.scss */
.partners__item:last-child {
  justify-content: flex-end;
}

/* line 430, ../sass/main.scss */
.about {
  margin: 0 0 57px 0;
}

/* line 435, ../sass/main.scss */
.about__wrap {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  width: 1180px;
  margin: 0 auto;
}

/* line 445, ../sass/main.scss */
.about__information {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  flex-basis: 46%;
  padding: 0 30px 35px 30px;
  margin: 0 57px 0 0;
  box-sizing: border-box;
  background: linear-gradient(0deg, rgba(112, 187, 220, 0.2) 100px, rgba(112, 187, 220, 0.2) 90%, transparent 90%);
}

/* line 459, ../sass/main.scss */
.about__information-title {
  margin: 0 0 10px 0;
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 469, ../sass/main.scss */
.about__information-subtitle {
  display: inline-block;
  margin: 0 0 10px 0;
  font-family: "Crimson Text", "Georgia", sans-serif;
  font-size: 26px;
  text-transform: capitalize;
}

/* line 480, ../sass/main.scss */
.about__information-description {
  margin: 0 0 20px 0;
}

/* line 485, ../sass/main.scss */
.about__contacts {
  display: flex;
  flex-flow: column;
  flex: 0;
  padding: 0 30px;
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(0deg, transparent 0%, transparent 40%, rgba(112, 187, 220, 0.2) 40%, rgba(112, 187, 220, 0.2) 93%, transparent 93%, transparent 100px);
}

/* line 498, ../sass/main.scss */
.about__contacts-title {
  margin: 0 0 20px 0;
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 508, ../sass/main.scss */
.about__contacts-description {
  margin: 0 0 20px 0;
}

/* line 513, ../sass/main.scss */
.about__contacts-map {
  display: flex;
}
