/* line 28, ../sass/normalize.scss */
:root {
  font-size: 1em;
}

/* line 33, ../sass/normalize.scss */
body {
  font-family: "Open Sans", "Arial", sans-serif;
}

/* line 38, ../sass/normalize.scss */
body, p, h1, h2, h3, h4, h5, h6, figure, button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

/* line 47, ../sass/normalize.scss */
a {
  text-decoration: none;
}

/* line 51, ../sass/normalize.scss */
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 8, ../sass/pagination.scss */
.pagination__button {
  width: 0.9rem;
  height: 1.625rem;
  opacity: 0.3;
  transition: opacity ease-in .3s;
}

/* line 18, ../sass/pagination.scss */
.pagination__button--previous {
  background: url("../../images/img_icon_pagination_arrow_left.svg") center no-repeat;
  background-size: 0.9rem;
}

/* line 24, ../sass/pagination.scss */
.pagination__button--next {
  background: url("../../images/img_icon_pagination_arrow_right.svg") center no-repeat;
  background-size: 0.9rem;
}

/* line 29, ../sass/pagination.scss */
.pagination__button:hover {
  cursor: pointer;
  opacity: 1;
  transition: opacity ease-in .3s;
}

/* line 37, ../sass/pagination.scss */
.pagination__button:active {
  opacity: 0.5;
}

/* line 42, ../sass/pagination.scss */
.pagination__list {
  display: flex;
}

/* line 47, ../sass/pagination.scss */
.pagination__item {
  margin: 0 2rem;
}

/* line 52, ../sass/pagination.scss */
.pagination__item-page {
  color: #000000;
  font-family: "Montserrat", "Helvetica", sans-serif;
  transition: opacity ease-in 0.3s;
}

/* line 60, ../sass/pagination.scss */
.pagination__item-page:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity ease-in 0.3s;
}

/* line 68, ../sass/pagination.scss */
.pagination__item-page--active {
  color: #C29974;
}
